# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
*.log
*.log.gz
logs
# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
keystore.properties
*.jks
*.keystore
/release/
